# === Core Python packages ===
numpy
pandas
scikit-learn
matplotlib
seaborn
transformers 

# === PyTorch and deep learning ===
torch>=1.9
torchvision

# === Logging & Progress ===
tqdm
tensorboard

# === Optional  ===

# loguru           #  for logging
# h5py             #  if using HDF5 feature files
# pickle-mixin     #  For handling pickle


